<h1> This is the Camper Page </h1>

<p>Name: <%= @camper.name %>
<br>
Age: <%= @camper.age %>
<br>

Activities: <% @camper.signups.each do |signup_inst| %>
    <ul> 

    <li> <%= signup_inst.activity.name %>
    </li>

    </ul>

    <%end%>

</p>
